- bodyClass = 'main'
#interactive
  .controls
    a.login-button(onclick='Rell.login()')
      span Login
    span#auth-status-label Status:
    span#auth-status unknown
    span.bar |
    a(onclick='Rell.disconnect()') Disconnect
    span.bar |
    a(onclick='Rell.logout()') Logout
  form(action='/saved', method='post', target='_top')
    textarea#jscode(name='code') #{exampleCode}
    .controls
      strong
        a(href=makeUrl('/examples')) Examples
      a(class='fb-blue run-code', onclick='Rell.runCode()')
        span Run Code
      label(class='fb-gray save-code')
        input(type='submit', value='Save Code')
  #jsroot
#log-container
  .controls
    button(onclick='Log.clear()') Clear
  #log
#fb-root
#FB_HiddenContainer
:javascript
  | $L=function(c,d){for(var b=c.length,e=b,f=function(){if(!(this.readyState
  | &&this.readyState!=="complete"&&this.readyState!=="loaded")){this.onload=
  | this.onreadystatechange=null;--e||d()}},g=document.getElementsByTagName(
  | "head")[0],i=function(h){var a=document.createElement("script");a.async=
  | true;a.src=h;a.onload=a.onreadystatechange=f;g.appendChild(a)};b;)i(c[--b]
  | )};
  | $L([
  |   (document.location.protocol == 'https:' ? 'https://ssl' : 'http://www')
  |     + '.google-analytics.com/ga.js',
  |   '/bundle/js/main/#{rellConfig.timestamp}',
  |   #{JSON.stringify(rellConfig.sdkUrl)}
  | ], function() { Rell.init(#{JSON.stringify(rellConfig)}) });
