- bodyClass = 'main'
#interactive
  .controls
    a#rell-login
      span Login
    span#auth-status-label Status:
    span#auth-status unknown
    span.bar |
    a#rell-disconnect Disconnect
    span.bar |
    a#rell-logout Logout
  form(action=makeUrl('/saved'), method='post', target='_top')
    textarea#jscode(name='code')= exampleCode
    .controls
      strong
        a(href=makeUrl('/examples')) Examples
      a#rell-run-code.fb-blue
        span Run Code
      label(class='fb-gray save-code')
        input(type='submit', value='Save Code')
  #jsroot
#log-container
  .controls
    button#rell-log-clear Clear
  #log
#fb-root
#FB_HiddenContainer
script
  $L(!{JSON.stringify([staticUrls.main, staticUrls.sdk])},
    function() {
      require('./rell').init(
        !{JSON.stringify(rellConfig)},
        !{JSON.stringify(signedRequest) || 'null'}
      )
    }
  )
