!!! 5
html(xmlns:fb="http://ogp.me/ns/fb#")
  head
    meta(charset='utf-8')
    title #{title} &mdash; Facebook Read Eval Log Loop
    meta(name='description', content='Examples for the Facebook Platform.')
    meta(name='keywords', content='facebook, connect, facebook connect, javascript, examples, javascript sdk, javascript library, library, howto, tutorial, api, facebook api, authorization, xfbml, fbml, xfbml tags, fbml tags, facebook platform, facebook rest api, graph, facebook graph api, facebook graph api examples, facebook old rest api, facebook sdk')
    meta(property='fb:app_id', content='184484190795')
    meta(property='og:image', content='https://www.fbrell.com/logo.jpg')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.fbrell.com/')
    link(type='text/css', rel='stylesheet', href=staticUrls.mainCss)
  script
    $L=function(c,d){for(var b=c.length,e=b,f=function(){if(!(this.readyState
    &&this.readyState!=="complete"&&this.readyState!=="loaded")){this.onload=
    this.onreadystatechange=null;--e||d()}},g=document.getElementsByTagName(
    "head")[0],i=function(h){var a=document.createElement("script");a.async=
    true;a.src=h;a.onload=a.onreadystatechange=f;g.appendChild(a)};b;)i(c[--b]
    )};
    $L(
      [(document.location.protocol == 'https:' ? 'https://ssl' : 'http://www')
        + '.google-analytics.com/ga.js'],
      function() {
        try {
          var pageTracker = _gat._getTracker('UA-15507059-1');
          pageTracker._trackPageview();
        } catch(e) {}
      }
    );
  body(class=bodyClass) !{body}
