!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    if data.title
      title= data.title
    if data.title && !data['og:title']
      meta(property='og:title', content=data.title)
    each val, key in data
      if key.indexOf(':') > -1
        meta(property=key, content=val)
    link(type='text/css', rel='stylesheet', href=staticUrls.mainCss)
  body(class='narrow')
    div.bd
      if data.title
        h1
          a(href=data['og:url'])= data.title
      div
        table.info
          thead
            tr
              th Property
              th Content
          tbody
            each val, key in data
              if key.indexOf(':') > -1
                tr
                  th= key
                  if val.indexOf('http') === 0
                    td
                      a(href=val)= val
                  else
                    td= val
      a(href=data['og:image'])
        img(src=data['og:image'])
      a.lint-this(href=linterUrl) Lint this.
